mixin internal-nav(shortcuts, logo_link, map_ref, accommodation_shortcut)
    section.nav.edge2edge.sticky
        nav
            a.logo(href=logo_link)
            .burger
                label.toggle(for='burger-open')
                input(type='checkbox', id='burger-open')
                ul.shortcuts
                    each shortcut in shortcuts
                        li(data-ref=shortcut.ref)!= shortcut.label
            //span.map(data-ref=map_ref)
            button.accommodation-shortcut(data-ref=accommodation_shortcut.ref)
                img(src='/site/coral.ru/assets/icons/accommodation-shortcut.svg')
                span.label!= accommodation_shortcut.label
    section.nav-spacer.edge2edge
        nav: .burger: ul.shortcuts: li just placeholder

mixin kvv(setup)
    section.held.edge2edge.kv
        style
            != `section.kv .backdrop {background-image: url("${ setup.desktop_poster }");}  @media screen and (max-width: 768px) {  section.kv .backdrop {background-image: url("${ setup.mobile_poster }");}  }`
        if setup.video_scale
            style
                != `.backdrop.vimeo-video-box .vimeo-player iframe { transform: scale(${ setup.video_scale }); }`
        .backdrop.vimeo-video-box
            .vimeo-player.hidden-on-mobile(data-vimeo-vid=setup.desktop_vid)
            .vimeo-player.hidden-on-desktop(data-vimeo-vid=setup.mobile_vid)

        .overlay
            if setup.logo
                img.hotel-logo(src=setup.logo)
            else
                .rixos-logo
            h1!= setup.h1
            if setup.five_stars
                .five-stars
            if setup.location
                .location!= setup.location


mixin hotel-card(hotel)
    .hotel-card(data-hotel-id=hotel.id)
        .visual
        .info
            h4.name!= hotel.name
            .stars-black
                each n in [1,2,3,4,5]
                    span.star-black
            .description!= hotel.description
            .actions
                a.choose-hotel(target='_blank') Выбрать отель
                a.learn-more(href=hotel.url) Узнать больше

mixin gallery(list)
    section.held.hotel-gallery
        .inhalt
            h2 Галерея
            .slider-combo
                .swiper
                    .swiper-wrapper
                        each item in list
                            .swiper-slide
                                img.hidden-on-mobile(src=item.visual_desktop)
                                img.hidden-on-desktop(src=item.visual_mobile)
                    button.shifter.backward.swiper-button-prev
                    button.shifter.forward.swiper-button-next

mixin restaurants-and-bars(setup)
    section.held.restaurants-and-bars
        .inhalt
            h2 Рестораны и бары
            p.generic
                :typo
                    Отправьтесь в гастрономическое приключение.
            .combo
                .info
                    h3
                        label
                            input(type='radio' name='zzz' value='restaurants' checked)
                            | Рестораны
                        label
                            input(type='radio' name='zzz' value='bars')
                            | Бары
                        if setup.cafe
                            label
                                input(type='radio' name='zzz' value='cafe')
                                | Кафе
                    .description!= setup.about
                    .actions
                        button.knopf(data-ref='section.suites') Выбрать номер
                .slider-combo.restaurants
                    .scroll-slider
                        each item in setup.restaurants
                            .slide
                                .visual(style=`background-image: url("${ item.visual }")`)
                                h4!= item.heading
                                p!= item.body
                    .discrete-pager
                .slider-combo.bars
                    .scroll-slider
                        each item in setup.bars
                            .slide
                                .visual(style=`background-image: url("${ item.visual }")`)
                                h4!= item.heading
                                p!= item.body
                    .discrete-pager
                if setup.cafe
                    .slider-combo.cafe
                        .scroll-slider
                            each item in setup.cafe
                                .slide
                                    .visual(style=`background-image: url("${ item.visual }")`)
                                    h4!= item.heading
                                    p!= item.body
                        .discrete-pager
            .actions
                button.knopf(data-ref='section.suites') Выбрать номер

mixin entertainment(setup)
    section.held.entertainment
        .inhalt
            h2!= setup.heading || 'Развлечения и мероприятия'
            each p in setup.ps
                p.generic!= p
            .two-usps
                .usp.lefty
                    .heading(style=`--visual-desktop: url("${ setup.lefty.visual_desktop }"); --visual-mobile: url("${ setup.lefty.visual_mobile }")`)
                        h3= setup.lefty.title
                    .reminder(style=`--visual-desktop: url("${ setup.lefty.visual_desktop }"); --visual-mobile: url("${ setup.lefty.visual_mobile }")`)
                .usp.righty
                    .heading(style=`--visual-desktop: url("${ setup.righty.visual_desktop }"); --visual-mobile: url("${ setup.righty.visual_mobile }")`)
                        h3= setup.righty.title
                    .reminder(style=`--visual-desktop: url("${ setup.righty.visual_desktop }"); --visual-mobile: url("${ setup.righty.visual_mobile }")`)
            .discrete-pager

mixin coral-bonus(pinup)
    section.held.coral-bonus
        .inhalt
            if pinup
                .coral-bonus-girl(data-pinup)
            else
                .coral-bonus-girl
            .loyality-program
                img.visual(src='/site/coral.ru/assets/coral-bonus-cards.jpg')
                .info
                    h2 Наша программа лояльности CoralBonus
                    p  Копите бонусы за покупку туров Coral Travel <br>и оплачивайте ими до 100% вашего путешествия!
                    a.obtain-card(href='https://coralbonus.ru/registration', target='_blank') Получить карту

mixin contacts-and-map()
    section.held.edge2edge.leased-line-premium
        .inhalt
            h3 Выделенная линия для премиальных туристов
            .phone-contact.online
                .icon(style='--icon: url("/site/coral.ru/assets/icons/icon-headphones.svg")')
                .phone-number +7 495 2&zwj;12 22 27
                .usage Для бронирований онлайн на сайте
                a(href='tel:+74952122227') Позвонить
            .phone-contact.office
                .icon(style='--icon: url("/site/coral.ru/assets/icons/icon-phone.svg")')
                .phone-number +7 495 97&zwj;0 12 02
                .usage Для бронирований в офисах продаж
                a(href='tel:+74959701202') Позвонить
            .interactive-map
                #rixos-map
