mixin internal-nav(shortcuts, logo_link, map_ref)
    section.nav.edge2edge.sticky
        nav
            a.logo(href=logo_link)
            .burger
                label.toggle(for='burger-open')
                input(type='checkbox', id='burger-open')
                ul.shortcuts
                    each shortcut in shortcuts
                        li(data-ref=shortcut.ref)!= shortcut.label
            span.map(data-ref=map_ref)
    section.nav-spacer.edge2edge
        nav: .burger: ul.shortcuts: li just placeholder

mixin kvv(setup)
    section.held.edge2edge.kv
        style
            != `section.kv .backdrop {background-image: url("${ setup.desktop_poster }");}  @media screen and (max-width: 768px) {  section.kv .backdrop {background-image: url("${ setup.mobile_poster }");}  }`
        if setup.video_scale
            style
                != `.backdrop.vimeo-video-box .vimeo-player iframe { transform: scale(${ setup.video_scale }); }`
        .backdrop.vimeo-video-box
            .vimeo-player.hidden-on-mobile(data-vimeo-vid=setup.desktop_vid)
            .vimeo-player.hidden-on-desktop(data-vimeo-vid=setup.mobile_vid)

        .overlay
            if setup.logo
                img.hotel-logo(src=setup.logo)
            else
                .rixos-logo
            h1!= setup.h1
            if setup.five_stars
                .five-stars
            if setup.location
                .location!= setup.location


mixin hotel-card(hotel)
    .hotel-card(data-hotel-id=hotel.id)
        .visual
        .info
            h4.name!= hotel.name
            .stars-black
                each n in [1,2,3,4,5]
                    span.star-black
            .description!= hotel.description
            .actions
                a.choose-hotel(target='_blank') Выбрать отель
                a.learn-more(href=hotel.url) Узнать больше
